<%- include('header'); %>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">

          <h2>Profiles</h2>
          <table id="profiles" class="table table-bordered">
          <thead>
          <tr>
          <th></th>
          <th>Name</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>Interests</th>
          <th>Cell Phone</th>
          <th>Active Task ID</th>
          </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<profiles.length; i++) {%>
              <tr>
              <td><a href="profiles/by-id/<%= profiles[i]._id %>"><i class="fa fa-edit"></i></a></td>
                <td><span><%= profiles[i].name %></span></td>
                <td><span><%= profiles[i].dob %></span></td>
                <td><span><%= profiles[i].gender %></span></td>
                 <td><span><%= profiles[i].interests %></span></td>
                 <td><span class="phone"><%= profiles[i].cellphone %></span></td>
                 <td><span class="phone"><%= profiles[i].activeTaskID %></span></td>

                <!--<td><span><button class="deleteProfile" data-button='{"id": "<%= profiles[i]._id %>"}'>Delete Profile</a></span></td>-->

              </tr>
              <% } %>
            </tbody>
          </table>

          
          <h4>Add Profile</h4>

          <div class="addProfileContainer">
          <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
          <form action="/profiles" method="POST">
           <div class="form-group">
            <label for="name">Name</label>
            <input type="text" placeholder="Name" class="form-control" name="name">
          </div>


           <div class="form-group">
            <label for="name">Cell</label>
            <input type="text" class="form-control" placeholder="Cell Phone" name="cellphone">
          </div>

           <div class="form-group">
            <label for="name">DoB</label>
            <input type="date" placeholder="DoB" class="form-control" name="dob">
          </div>

          <div class="form-group">
            <label for="gender">Gender</label>
             <select name="gender" class="form-control">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="unspecified">Unspecified</option>
            </select>
          </div>

           <div class="form-group">
            <label for="gender">Interests</label>
            <input type="text" placeholder="Interests" name="interests" list="interests" class="form-control">
            <datalist id="interests">
              <option value="Housing">
              <option value="Education">
              <option value="Life Skills">
              <option value="Employment">
            </datalist>
          </div>

          <button type="submit" class="btn btn-default">Submit</button>

          </div>
          </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      $( document ).ready(function() {

         $('#profiles').DataTable();

        $('.phone').text(function(i, text) {
          return text.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
        });
      }); 
   </script>

<%- include('footer'); %>