<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>
  <h2>Profile ID: <%= id %></h2>

   <ul>
   <li><span><%= profile[0].name %></span></li>
    <li><span><%= profile[0].dob %></span></li>
    <li><span><%= profile[0].gender %></span></li>
      <li><span><%= profile[0].interests %></span></li>
      <li><span><%= profile[0].cellphone %></span></li>
</ul>

</body>
</html>