<%- include('header'); %>

 <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">


          <h2>Task</h2>
          ID: <%= task._id %><br />
          <%= task.name %><br />
          <%= task.trigger %><br />

          <h3>Task Items</h3>
          <table id="tasksitems" class="table table-bordered">
          <thead>
          <tr>
          <th></th>
          <th>Task Item ID</th>          
          <th>Name</th>
          <th>Message</th>
          <th>Parent ID</th>
          </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<items.length; i++) {%>
            <tr>
              <td><span><a href="tasks/by-id/<%= tasks[i]._id %>"><i class="fa fa-edit"></i></a></span></td>
                <td><span><%= items[i]._id %></span>
                <td><span><%= items[i].name %></span>
                <td><span><%= items[i].interests %></span>
                <td><span><%= items[i].trigger %></span>
                
              </tr>
              <% } %>
              </tbody>
          </table>

          <h4>Add Profile</h4>
          <div class="addTask">
          <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">

           <form action="/tasks" method="POST">
           <div class="form-group">
            <label for="name">Name</label>
            <input type="text" placeholder="Name" class="form-control" name="name">
          </div>


           <div class="form-group">
            <label for="name">Message</label>
            <textarea rows="4" cols="50" class="form-control" placeholder="Message" name="message"></textarea>
          </div>

           <div class="form-group">
            <label for="gender">Interests</label>
            <input type="text" placeholder="Interests" name="interests" list="interests" class="form-control">
            <datalist id="interests">
              <option value="Housing">
              <option value="Education">
              <option value="Life Skills">
              <option value="Employment">
            </datalist>
          </div>

           <div class="form-group">
            <label for="name">More Info URL</label>
            <input type="text" placeholder="More Info URL" class="form-control" name="url">
          </div>

          <div class="form-group">
            <label for="name">Parent Task</label>
            <input type="text" placeholder="Parent Task" class="form-control" name="parentTaskId">
          </div>

          <button type="submit" class="btn btn-default">Submit</button>

          </form>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    

  <%- include('footer'); %>