<%- include('header'); %>

 <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">


          <h2>Task</h2>
          ID: <%= task[0]._id %><br />
          Name: <%= task[0].name %><br />
          Trigger: <%= task[0].trigger %><br />

          <h3>Task Items</h3>
          <table id="tasksitems" class="table table-bordered">
          <thead>
          <tr>
          <th></th>
          <!--<th>Task Item ID</th>-->
          <th>Index</th>          
          <th>Name</th>
          <th>Message</th>
          <th>Type</th>
          <th>Expected Input</th>
          </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<items.length; i++) {%>
            <tr>
              <td><span><a role="button" class="viewTaskItem" data-button='{"id": "<%= items[i]._id %>"}'><i class="fa fa-edit"></i></a></span> <a role="button" class="deleteTaskItem" data-button='{"id": "<%= items[i]._id %>"}'> <i class="fa fa-trash"></i></a></td>
                <!--<td><span><%= items[i]._id %></span>-->
                <td><span><%= items[i].index %></span>
                <td><span><%= items[i].name %></span>
                <td><span><%= items[i].message %></span>
                <td><span><%= items[i].type %></span>
                <td><span><%= items[i].expectedInput %></span>
                

                
              </tr>
              <% } %>
              </tbody>
          </table>

          <h4>Add Item</h4>
          <div class="addTask">
          <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">

           <form action="/tasks/by-id/<%= task[0]._id %>/items" method="POST">
           <div class="form-group">
            <label for="name">Name</label>
            <input type="text" placeholder="Name" class="form-control" id="name" name="name">
          </div>

          <div class="form-group">
            <label for="name">Index</label>
            <input type="text" placeholder="Index" class="form-control" id="index" name="index">
          </div>


           <div class="form-group">
            <label for="name">Message</label>
            <textarea rows="4" cols="50" class="form-control" placeholder="Message" id="message" name="message"></textarea>
          </div>

          

          <div class="form-group">
            <label for="type">Type</label>
            <select name="type" id="type" class="form-control">
            <option>Info</option>
            <option>Free Prompt</option>
            <option>Fixed Prompt</option>
            </select>
          </div>

          <div class="form-group">
            <label for="name">Expected Input (| separated)</label>
            <input type="text" placeholder="Expected Input" class="form-control" id="expectedInput" name="expectedInput">
          </div>

          <div class="form-group">
            <label for="name">Parent Task</label>
            <input type="text" placeholder="Parent Task" class="form-control" name="parentTaskId" value="<%= task[0]._id %>">
          </div>

          <div class="form-group">
            <label for="name">ID</label>
            <input type="text" class="form-control" name="_id" id="_id" value="">
          </div>

          <button type="submit" class="btn btn-default">Submit</button>

          </form>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    

  <%- include('footer'); %>